In [1]:
import pandas as pd
import altair as alt

# **About the Data**

For this problem, you will work with data that compares the median earnings between male and female workers in Champaign County.

Two worker populations are analyzed across males and females:

1. "Total Workers", which include part-time, seasonal, and those workers that were not employed for the full survey year
2. "Full-Time" which include year round workers

# **Loading the Data**

# Question 1

Create a dataframe from the csv file on Brightspace. Please name your dataframe ```wage_gap```.

In [3]:
#TODO

wage_gap = pd.read_csv('gender-wage-gap-champaign-county.csv')
wage_gap

,Unnamed: 0,"Total Workers, Male: Median Earnings","Total Workers, Female: Median Earnings","Full-Time, Year-Round Workers, Male: Median Earnings","Full-Time, Year-Round Workers, Female: Median Earnings"
0,2005,"$25,727","$17,730","$42,437","$28,993"
1,2006,"$24,935","$16,771","$42,467","$32,026"
2,2007,"$24,173","$17,242","$42,472","$34,360"
3,2008,"$24,941","$17,340","$44,031","$34,558"
4,2009,"$23,721","$13,945","$45,300","$34,922"
5,2010,"$26,551","$17,068","$46,927","$36,881"
6,2011,"$22,207","$17,473","$47,622","$36,455"
7,2012,"$26,075","$20,045","$48,524","$37,945"
8,2013,"$24,814","$18,996","$46,524","$37,482"
9,2014,"$26,329","$21,325","$45,219","$38,302"
10,2015,"$30,565","$21,547","$45,899","$41,032"
11,2016,"$31,798","$26,372","$47,413","$39,725"
12,2017,"$30,759","$23,334","$50,014","$38,944"
13,2018,"$30,450","$25,047","$51,196","$43,890"
14,2019,"$31,169","$26,743","$50,749","$44,011"
15,2021,"$36,917","$29,255","$56,045","$45,825"
16,2022,"$39,145","$31,588","$59,741","$55,416"

In [4]:
# wage_gap.columns

# **Renaming Columns and Cleaning the Data**

In [5]:
#rename columns
wage_gap.columns = ['year', 'total_workers_male_median_earnings', 'total_workers_female_median_earnings',
                    'full_time_male_median_earnings', 'full_time_female_median_earnings']

In [6]:
#clean data
def clean(df):
  new_df = df.copy()
  for column in new_df.columns:
    if new_df[column].dtype == 'object' and new_df[column].str.contains('$').any() and new_df[column].str.contains(',').any():
      new_df[column] = new_df[column].str.replace('$', '')
      new_df[column] = new_df[column].str.replace(',', '')
  return new_df

In [7]:
wage_gap_clean = clean(wage_gap)
wage_gap_clean.head()

,year,total_workers_male_median_earnings,total_workers_female_median_earnings,full_time_male_median_earnings,full_time_female_median_earnings
0,2005,25727,17730,42437,28993
1,2006,24935,16771,42467,32026
2,2007,24173,17242,42472,34360
3,2008,24941,17340,44031,34558
4,2009,23721,13945,45300,34922

# Question 2

Explain what the function ```clean``` does.

**Write answer here.

The clean function is part of the preprocessing of this dataset where all indexes in the dataset are checked to see if they contain a dollar sign and a comma while being an object type. And if they contain both, the dollar sign and the comma are removed.**

# Question 3

Discuss the granularity of the data.

**Write answer here.

The granularity of this dataset is based on a year period. The details of this dataset are collected on the interval of a year.**

# Question 4

Convert the dtypes of all columns except the 'year' column in ```wage_gap_clean``` to 'float64'. Leave the 'year' column as is.

In [8]:
# wage_gap_clean

In [9]:
#TODO

wage_gap_clean[['total_workers_male_median_earnings', 'total_workers_female_median_earnings', 'full_time_male_median_earnings', 'full_time_female_median_earnings']] = wage_gap_clean[['total_workers_male_median_earnings', 'total_workers_female_median_earnings', 'full_time_male_median_earnings', 'full_time_female_median_earnings']].astype(float)

You can run the following cell to confirm you correctly converted each column's dtype.

In [10]:
wage_gap_clean.dtypes

year                                      int64
total_workers_male_median_earnings      float64
total_workers_female_median_earnings    float64
full_time_male_median_earnings          float64
full_time_female_median_earnings        float64
dtype: object

# **Subsetting the Data**

# Question 5

Subset the dataframe to include data from 2005 to 2019. Store the subsetted data under the name ```wage_gap_clean```.

In [11]:
# wage_gap_clean

In [12]:
#TODO

wage_gap_clean = wage_gap_clean[wage_gap_clean['year'] < 2020]
wage_gap_clean

,year,total_workers_male_median_earnings,total_workers_female_median_earnings,full_time_male_median_earnings,full_time_female_median_earnings
0,2005,25727.0,17730.0,42437.0,28993.0
1,2006,24935.0,16771.0,42467.0,32026.0
2,2007,24173.0,17242.0,42472.0,34360.0
3,2008,24941.0,17340.0,44031.0,34558.0
4,2009,23721.0,13945.0,45300.0,34922.0
5,2010,26551.0,17068.0,46927.0,36881.0
6,2011,22207.0,17473.0,47622.0,36455.0
7,2012,26075.0,20045.0,48524.0,37945.0
8,2013,24814.0,18996.0,46524.0,37482.0
9,2014,26329.0,21325.0,45219.0,38302.0
10,2015,30565.0,21547.0,45899.0,41032.0
11,2016,31798.0,26372.0,47413.0,39725.0
12,2017,30759.0,23334.0,50014.0,38944.0
13,2018,30450.0,25047.0,51196.0,43890.0
14,2019,31169.0,26743.0,50749.0,44011.0

# **Transforming the Data Format**

# Question 6

Transform ```wage_gap_clean``` so it has 3 columns:

1. 'year'
2. 'group' - the values of this column should be the ```wage_gap_clean``` column names (excluding the 'year' column)
3. 'median_earnings'

Save the transformed dataframe under a name of your choosing. As a sanity check, it should be 60 rows by 3 columns.

In [13]:
#TODO

melted_wage_gap = pd.melt(wage_gap_clean, id_vars=['year'], value_vars=['total_workers_male_median_earnings', 'total_workers_female_median_earnings', 'full_time_male_median_earnings', 'full_time_female_median_earnings'], var_name='group', value_name='median_earnings')

In [14]:
# melted_wage_gap.shape
melted_wage_gap.head()

   year                               group  median_earnings
0  2005  total_workers_male_median_earnings          25727.0
1  2006  total_workers_male_median_earnings          24935.0
2  2007  total_workers_male_median_earnings          24173.0
3  2008  total_workers_male_median_earnings          24941.0
4  2009  total_workers_male_median_earnings          23721.0

# **Visualizing the Data**

# Question 7


For this problem, you will be comparing the values of the four worker groups through the years 2005 to 2019.

Use Altair to create a line plot to visualize the data.

Requirements:

1. Use appropriate axis labels and title.
2. On the x axis, ensure the years appear horizontal.
3. Include a legend
4. Height by Width Dimensions: 400 by 600

In [15]:
#TODO

alt.Chart(melted_wage_gap).mark_line().encode(
    alt.X('year:Q', title='Years'),
    alt.Y('sum(median_earnings):Q', title='Median Earnings'),
    color='group'
).properties(title='Workers Median Earnings Over Time', height=400, width=600)

alt.Chart(...)

# Question 8

Discuss what can be learned from this visualization.


This visualization helps us understand how female and male workers median earnings increased and decreased from 2005 to 2019. It shows us a good representation of the comparison among the median earning for total workers (males and females) and the full time workers(males and females)**